<p style="color: green"><%= notice %></p>

<%= render @webhook_endpoint %>

<div>
  <%= link_to "Edit this webhook endpoint", edit_webhook_endpoint_path(@webhook_endpoint) %> |
  <%= link_to "Back to webhook endpoints", webhook_endpoints_path %>
  <%= button_to "Destroy this webhook endpoint", @webhook_endpoint, method: :delete %>
</div>
